.awesomplete > ul {
  border-radius: $dropdown-border-radius;
  margin: 0.2em 0 0;
  // border: $dropdown-border-width solid $input-focus-border-color;
  // box-shadow: $input-focus-box-shadow;
  box-shadow: $dropdown-box-shadow;
  text-shadow: none;
}

@supports (transform: scale(0)) {
  .awesomplete > ul {
    // transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transition: $transition-collapse;
    transform-origin: 1.43em -0.43em;
  }

  .awesomplete > ul:empty,
  .awesomplete > ul[hidden] {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}

/* Pointer */
// .awesomplete > ul:before {
//   content: "";
//   position: absolute;
//   top: -0.43em;
//   left: 1em;
//   width: 0;
//   height: 0;
//   padding: 0.4em;
//   background: $white;
//   border: inherit;
//   border-right: 0;
//   border-bottom: 0;
//   -webkit-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

.awesomplete > ul > li {
  position: relative;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.awesomplete > ul > li:hover {
  background: lighten($blue, 50%);
  color: $black;
}

.awesomplete > ul > li[aria-selected="true"] {
  background: $blue;
  color: $white;
}

.awesomplete mark {
  background: lighten($yellow, 10%);
}

.awesomplete li:hover mark {
  background: $green;
}

.awesomplete li[aria-selected="true"] mark {
  background: $cyan;
  // text-decoration: underline;
  color: inherit;
}
